// Here you can add other styles
$font_path: "~@/assets/fonts/";
@font-face {
  font-family: IRANSansWeb-FaNum-Bold;
  src: url($font_path+"IRANSansWeb-FaNum-Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSansWeb-FaNum-Light;
  src: url($font_path+"IRANSansWeb-FaNum-Light.ttf") format("truetype");
}

.iranSansLight,
.v-label,
.v-btn__content,
.v-input__slot input,
.v-data-table__wrapper tbody td,
.v-file-input__text--placeholder, p ,  li,.ce-paragraph
 {
  font-family: IRANSansWeb-FaNum-Light;
}
.iranSansBold,
.c-sidebar-nav-link,
.v-breadcrumbs,
.v-tab,
.v-data-table-header,
.v-data-footer,
.v-btn__content,
.ce-header,
h1,h2,h3,h4 {
  font-family: IRANSansWeb-FaNum-Bold !important;
}

//   @font-face {
//       font-family: IRANSansWeb-FaNum-Light;
//       src: url(../fonts/IRANSansWeb-FaNum-Light.ttf) format("truetype"), url(fonts/IRANSansWeb_FaNum-Light.woff2) format("woff2"), url(fonts/IRANSansWeb_FaNum-Light.woff) format("woff")
//   }
